// Magic style values. DO NOT CHANGE!
$border-radius-1: 0.4rem;
$border-radius-2: 0.8rem;
$border-radius-3: 1.2rem;

$base-blue: #4D6CFA;
$info-dark: #7d8da1;

$trans-light: rgba(132, 139, 200, 0.18);


aside {

  height: 100vh;
  appearance: none;
  text-decoration: none;
  outline: 0;

  .top {
    padding: 5px;
    border-radius: $border-radius-3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
  }

  .logo {
    display: flex;
    gap: 0.8rem;

    img {
      width: 3.4rem;
      height: 3.4rem;
    }
  }

  .close {
    display: none;
  }

  h3 {
    font-weight: 500;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;

    a {
      display: flex;
      color: $info-dark;
      margin-left: 2rem;
      gap: 1rem;
      align-items: center;
      position: relative;
      height: 3.7rem;
      transition: all 300ms ease;
      text-decoration: none;


      span {
        font-size: 1.6rem;
        transition: all 300ms ease;
      }

      &.active {
        background: $trans-light;
        color: $base-blue;
        margin-left: 0;

        &:before {
          content: "";
          width: 6px;
          height: 100%;
          background: $base-blue;
        }

        span {
          color: $base-blue;
          margin-left: calc(1rem - 3px);
        }
      }

      //&:last-child {
      //  position: absolute;
      //  bottom: 2rem;
      //  width: 100%;
      //}

      span {
        font-size: 1.6rem;
      }

      &:hover {
        color: $base-blue;

        span {
          margin-left: 1rem;
        }
      }
    }
  }
}